<div class="navbar navbar-dark bg-primary">
  <%= link_to t('.header'), root_path, class: 'navbar-brand' %>

  <span class="nav-admin title"><%= t('layouts.admin.header_admin') %></span>

  <div class="nav-admin user">
    t('shared.header.welcome') <b class="nav-admin user-email"><%= current_user.full_name %></b> t('shared.header.guru') |
    <%= link_to t('helpers.links.logout'), destroy_user_session_path, method: :delete, class: 'btn btn-sm btn-outline-secondary' %>
  </div>
</div>
