<tr>
  <td><%= question.body %></td>
  <td><%= link_to 'Show', admin_question_path(question), class: 'btn btn-sm btn-outline-secondary' %></td>
  <td><%= link_to 'Edit', edit_admin_question_path(question), class: 'btn btn-sm btn-outline-secondary' %></td>
  <td>
    <%= link_to 'Delete', class: 'btn btn-sm btn-outline-secondary',
      admin_question_path(question),
      method: :delete,
      data: { confirm: 'Are you sure?'} %>
  </td>
</tr>
